html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: aqua;
  }
  
  nav {
    width: 100%;
    background-color: rgb(13, 14, 13);
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    justify-content:center;
    align-items: center;
  }
  
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-item a {
    font-size: 2rem;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
  }
  
  .nav-item:hover {
    cursor: pointer;
    background-color: white;
  }
  
  .nav-item:hover a {
    color: rgb(1, 14, 43);
  }
  .restaurantheader{
    display: flex;
    font-size: 2rem;
    padding: 20px;
  }
  .homesection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
    padding:20px;
  }



  .rest-img{
    /* display: grid; */
    height: 250px;
    width:auto;
  }

  @media screen and (max-device-width: 900px) {
    .homesection{
      /* padding: 30vh 5vw; */
    }
    .nav-item a {
      font-size: 1.3rem;
      padding: 10px 10px;
    }


  .rest-img{
    /* display: grid; */
    height: 150px;
    width:auto;
  }
  }